body section {
  background-color: #F2F4F4;
}

body h1, body .logo {
  font-size: 2.5em;
  letter-spacing: 5px;
  text-transform: uppercase;
}

body .logo {
  color: #000000;
  font-size: 1.5em;
}

body p {
  color: #212529;
}

.uppercase {
  text-transform: uppercase;
}

.background-secondary {
  background-color: #D1D8DA;
}

.flex {
  display: inline-flex;
}

#menu1 {
  background-color: #5BC0EB;
}

#menu1 .bar__module {
  display: inline-flex;
}

#menu1 .bar__module ul {
  margin-bottom: 0;
}

#menu1 .bar__module form {
  padding-left: 50px;
  width: 600px;
}

#menu1 .bar__module form input {
  height: 2.2em;
}

.btn span {
  line-height: 1.85714286em;
}

.logo:hover {
  color: #000000;
  text-decoration: none;
}

.round img {
  border-radius: 100%;
}

.company-card, .company-lists {
  padding: 1.3em;
  background-color: #ffffff;
  text-align: center;
}

.company-card h2, .company-lists h2 {
  margin-bottom: 1rem;
}

.company-card .card-body, .company-lists .card-body {
  padding: 0;
}

.company-lists {
  text-align: left;
  margin-bottom: 5em;
  max-height: 400px;
  overflow: scroll;
}

.company-lists h3 {
  padding-left: 30px;
  margin-bottom: 30px;
}

.company-listing {
  display: flex;
  flex: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
}

.company-listing h5 {
  padding-left: 10px;
}

.company-listing .company-icon img {
  margin-bottom: 0;
}

.secondary-listing {
  background-color: #D1D8DA;
}

.space-top {
  padding-top: 10px;
}

.space-top-lg {
  padding-top: 50px;
}

.space-bottom {
  padding-bottom: 10px;
}

.space-bottom-lg {
  padding-bottom: 50px;
}

.pagination li {
  padding-left: 20px;
}

.pagination li a {
  font-size: 1.3em;
}
